.glyphicon.icon-site-logo {
  font-family: "MS PGothic";
}

.icon-site-logo:before {
  content: "â—";
  color: rgb(111, 26, 64);
  //font-size: 200%;
}

body > .container > footer {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  border-top: 1px solid rgb(238, 238, 238);
}
